<section class="col-sm-12">
    <div class="col-sm-12" style="background-color: bisque;">
        <div class="col-sm-12 row p-4">
            <div class="col-sm-12">
                <h2 class="category">Category List</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Laudantium ullam veritatis ab nesciunt sit! 
                    Ducimus tempore placeat ab, necessitatibus beatae magni ratione nemo quo deserunt cum id, voluptas quidem mollitia.</p>
            </div>
            <div class="col-sm-12 text-center" *ngIf="!isLoading">
                <div class="spinner-grow" role="status">
                    <!-- <span class="sr-only">Loading...</span> -->
                  </div>
            </div> 
            <div class="col-sm-12 px-2 row d-flex justify-content-center">
                    <div class="card m-2 shadow border" *ngFor="let category of categoriesList" style="width:160px">
                    <div class="card-body" style="cursor: pointer;" routerLink="/products">
                        {{ category }}                   
                    </div>
                  </div>                
            </div>
        </div>
    </div>
</section>