.background{
    background-image: url('../../assets/products-by-category.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.category{
    color:orange;
}
.categorylist{
    font-family: "rubik";
}