.homepage{
    background-image: url('../../assets/backgroundImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.description{
    height: 40%;
    font-size: 16px;
    font-family: "rubik";
}
.title{
    font-size: 20px;
    font-weight: 600;
    font-family: "rubik";
}
.Content{
    font-family: "rubik";
    font-size: 20px;
    font-weight: 500;
}
.header{
    font-family: fangsong;
}