.homepage{
    background-image: url('../../assets/bachground.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-nav{
    font-size: 20px;
    font-weight: 500;
    font-family: "rubik";
    cursor: pointer;
    
}

.navbar-brand{
    font-size: 26px;
    font-weight: 500;
    font-family: "rubik";
    cursor: pointer;
}